.movie_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 30%;
  height: auto;
}

.show_box {
  @extend .movie_box;

}

.single_box {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 30px;
  overflow: hidden;
}

.multiline_box {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
  overflow: hidden;
}