.cast_card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 185px;

  & .cast_image {
    display: flex;
    width: 100%;
  }

  & .cast_text {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    overflow: hidden;
  }
}

