@import "../utils/variables";

.details_header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 600px;
  background-color: $french_blue;

  & .h_picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    max-width: 350px;
    min-width: 350px;
  }

  & .h_info {
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    width: 65%;
    font-size: 1.15em;
    margin-top: -5%;

    & .i_top {
      display: flex;

      & .t_caption {

      }
    }

    & .i_interaction {
      display: flex;
      justify-content: space-around;
      flex-flow: row nowrap;
      width: 300px;
      padding: 20px 0;
    }

    & .i_body {
      display: flex;
      justify-content: flex-start;
      flex-flow: column;
      position: relative;
      width: 100%;
      padding: 20px 0;

      & .b_overview {
        display: flex;
        justify-content: flex-start;
        flex-flow: column;
        padding-bottom: 20px;
      }

      & .b_crew {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 20px;

        & .crew-members {
          display: -webkit-flex;
          display: flex;
          justify-content: space-between;
          flex-flow: row wrap;
          width: 100%;
          padding: 5px;
          margin: 0 10px 0 10px;
        }
      }
    }
  }
}








