@import "../utils/variables";
// PEOPLE PAGE Cards
.people-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 440px;
  width: 240px;
  margin: 20px auto;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}

.people-card_image {
  width: 240px;
  height: 360px;
}

.people-card_content {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  overflow: hidden;

  .pc-name {
    display: flex;
    padding: 5px;
    position: relative;
    width: 100%;
  }

  & a {
    color: #1a1b1c;
  }

  & a:hover {
    text-decoration: underline;
    -webkit-transform: scale(1.1);
    transition: 250ms;
  }

  & .pc-movie-icon {
    position: absolute;
    right: 0;
  }

  .pc-info {
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
  }
}

//PERSON PAGE PRESENTATION
.person-page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pp-presentation {
  display: flex;
  width: 100%;
  padding: 50px 0;
  background-color: $a;
}

.presentation-main_picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.presentation-main_info {
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  flex-direction: column;
  width: 70%;
  font-size: 1.2em;
}

.presentation-general {
  display: flex;
  flex-direction: column;

  & .presentation-name, .presentation-links {
    display: flex;
    padding-bottom: 25px;

    & .pp-rounded-buttons {
      margin: 0 15px 0 15px;
    }
  }
}

.presentation-bio {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 25px;

  & p {
    line-height: 25px;
    max-height: 252px;
    overflow: hidden;
  }

  & p:before {
    content:  '. . .';
    text-align: right;
    position: absolute;
    display:  block;
    width:  2em;
    height: 1em;
    bottom: 1em;
    right:  20px;
  }
}


//PERSON PAGE BODY
//PERSON PAGE DETAILS
.pp-details {
  display: flex;
  align-self: flex-start;
  height: auto;
  width: 29%;
  margin-top: 20px;
  padding: 10px;
  flex-flow: row wrap;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  background-color: $a;
}

//PERSON PAGE ACTING
.pp_main {
  display: flex;
  flex-direction: column;
  width: 69%;
  height: auto;
  padding: 10px;
  margin-top: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.pp-acting {
  display: flex;
  height: auto;
  flex-direction: column;
  width: 100%;
}

.movie-card, .heading-card {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  overflow: hidden;

  & .mc-year, .hc-year {
  @extend .movie-card;
    width: 70px;
  }

  & .mc-title, .hc-title {
    @extend .movie-card;
    width: 400px;
  }

  & .mc-rating, .hc-rating {
    @extend .movie-card;
    width: 30px;
  }

  & .mc-character, .hc-department {
    @extend .movie-card;
    width: 200px;
  }
}

//PERSON PAGE KNOWN_FOR
.pp-known_for {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  flex-direction: column;
  margin-top: 20px;
  padding: 10px 0;
  height: auto;
  width: 100%;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);

  & .tns-outer {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
  }
}

.known-for_card {
  display: flex;
  flex-direction: column;
  height: 350px;

  & .known-for_image {
    display: flex;
    justify-content: center;
  }

  & .known-for_text {
    display: flex;
    justify-self: center;
    width: 154px;
    margin: 10px auto;
    overflow: hidden;
  }
}