@import "../utils/variables";

.sign {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  & h1 { margin-bottom: 20px; }
  & p { padding: 5px; }
  & div { padding: 5px; }
}

.sign-up {
  @extend .sign;
  width: 65%;
  align-self: flex-start;
}

.sign-in {
  @extend  .sign;
  align-self: flex-start;
}

.sign-buttons {
  @extend .sign;
  width: 330px;
  flex-direction: row;
  justify-content: space-between;
  & button { width: 150px; }
}

.sign-info {
  @extend .sign;
  align-self: flex-start;
  width: 30%;
  border: 1px solid $denim;
  border-radius: 25px;
  padding: 20px;
  & p {
    margin: 0;
  }
  & p:before {
    content: "✭";
    white-space: pre;
  }
  & p:after {
    content: "✭";
    white-space: pre;
  }
}

.logo {
  height: 150px;
  width: 100%;
  background: {
    image: url(../../images/logo1/logo_transparent.png);
    position: center center;
    repeat: no-repeat;
    size: cover;
  }
}