@import "./styles/utils/variables";

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;

  & main {
    display: flex;
    flex: auto;
    height: auto;
    background-color: white;
  }

  & footer {
    display: flex;
    flex-shrink: 0;
  }
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  padding: 5px;
}

h2 {
  font-size: 1.35em;
  font-weight: bold;
  margin: 0;
  padding: 5px;
}

h3 {
  font-size: 1.25em;
  font-weight: bold;
  margin: 0;
  padding: 5px;
}

h4 {
  font-size: 1.15em;
  font-weight: bold;
  margin: 0;
  padding: 5px;
}

h5 {
  font-size: 1.05em;
  font-weight: bold;
  margin: 0;
  padding: 5px;
}

p {}

body {
  height: 100vh;
  flex: auto;
  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
  height: 100%;
  width: 100px;

  & a {
    @extend li;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    line-height: 20px;
    color: white;
    transition: 250ms;
    width: 100%;
  }

  & a:hover {
    height: 100%;
    color: $denim;
    background-color: $a;
    transition: 250ms;
  }
}

p:first-child, p:last-child {
  padding: 5px;
}

.primary-container {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  flex-flow: row wrap !important;
  height: auto!important;
}

.ui .segment {
  position: relative;
  background: white;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  margin: 0 !important;
  padding: 0 !important;
  border-radius: 0 !important;
  border: none !important;
  flex-shrink: 0 !important;
}

.details {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.heading-text {
  padding: 10px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  width: 100%;
  font-size: 1.8em;
}

// SPINNER
.sweet-loading {
  margin: 50px auto!important;
}

// FILTERS
.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
}